@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gray{
    color: #424242;
}
.light-gray{
    color: #727272;
}
.brand{
    font-weight: bold;
    font-size: 2rem;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0, auto;
}
/* banner section */
.banner-content{
    max-width: 850px;
    margin: 0, auto;
    text-align: center;
    margin: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.image{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0, auto;
}

/* features and and */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
main > section{
    margin-top: 100px;
}
.section-title{
font-size: 2.8em;
font-weight: 700;
}
.features{
    margin-left: 100px;
    max-width: 530px;
}

#dark{
font-weight: 500;
}

/* features section */
.features-2{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}
#year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}
.footer{
    display: grid;
    margin-top: 90px;
    color: #727272;
    font-weight: 300;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    place-items: center;
    background-color: bisque;
    padding: 10px;
}


.orange{
    color: #ff900e;
}

/* facts sectoin */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
   max-width: 540px; 
}
/* sponsor section */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.logo img{
    filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width: 576px) {
   .navbar, 
   .nav-links, 
   .features-2,
   .team{
        flex-direction: column;
    }
.team-img-container,
.fact-container,
.logo{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    ..logo{
        justify-items: center;
        gap: 50px;
    }
    .features{
        margin-left: 20px;
    }
}
/* medium device */
@media screen and (min-width:576) and (max-width:992px) {
    .team, .features-2{
        flex-direction: column;
    }
    .features{
        margin-left: 50px auto;
    }
    .logo, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}